ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}

.flex-container {
  margin:100px;
  display:flex;
  justify-content: center;
  height:150px;
}

.flex-container > div {
  background-color: #FFF8DC;
  width: 150px;
  margin: 10px;
  text-align: center;
  line-height: 120px;
  font-size: 30px;
}

body {
  margin: 0px;
}
