ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}


/* Rewrote container stuff. This is standard comment format. see how they're all aligned and easier to read */
.flex-container {
    display: flex;              /* Creates flexible container */
    justify-content: center;    /* Aligns flex items at center of container */
    flex-wrap: wrap;            /* Wraps item to next row if not enough space */
    padding: 30px 120px;        /* top/down and left/right paddings */
}

.image-flex-container {
    border: 1px solid #ccc;     /* Creates solid black/grey border */
    overflow: hidden;           /* Hides images outside image container */
    height: 150px;              /* Height of image */
    width: 150px;               /* Width of image */
    margin-right: 5px;          /* Spacing on right side of image between images */
    margin-bottom: 3px;         /* Spacing on bottom of image */
}

.image-style    {
    position: relative;     /* Position image relative to normal position with respect to image-flex-container class */
    width: 150px;
    top: -30%;              /* need to move the image up 20-40% to center image within square - top% is x% from the top of the parent container */
}

body {
  margin: 0px;
}

/* Mean App Block CSS */
.app-container  {
  background-color: #EAEDED;
  width: 80%;
  margin: auto; /* Only works if !DOCtype enabled */
}

.mean-container {
  margin: 0 40px 0 40px;
  text-align: center;
  padding: 30px 0 60px 0;
}

.button {
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 7px 10px;
  margin-top: 10px;
  background-color: #3390FF;
}
