ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    background-color: #111;
}

.flex-container {
    display: flex;              /* Creates flexible container */
    justify-content: center;    /* Aligns flex items at center of container */
    flex-wrap: flex;            /* Wraps item to next row if not enough space */
    padding: 30px 120px;        /* top/down and left/right paddings */
}

.iamge-flex-container {
    border: 1px solid #ccc;     /* Creates solid black/grey border */
    overflow: hidden;           /* Hides images outside image container */
    height: 150px;              /* Height of image */
    width: 150px;               /* Width of image */
    margin-right: 5px;          /* Spacing on right side of image between images
    margin-bottom: 3px;         /* Spacing on bottom of image */
}

.image-style    {
    position: relative;     /* Position image relative to normal position with respect to image-flex-container class */
    width: 150px;           /**
                            *   Widght image within image-flex-contaai0iner flex 
                            *   Might need to match shorter dimention to parent container image-flex-container
                            */
    top: -30%;              /* need to move the image up 20-40% to center image within square - top% is x% from the top of the parent container */
}

body {
  margin: 0px;
}

/* Brent Portfolio styling - see how and why I style a certain way and read comments*/
.brent-container {
  /* container to frame it within body */
  padding: 30px 120px; /* up/down and left/right paddings */
  display: flex; /* flex display to organize things in a single row */
  justify-content: center;  /* center content in a flex display */
  flex-wrap: wrap; /* in flex view, if there is no space in the row, continue to next row */
}
.brent-image-container {
  border: 1px solid #ccc; /* creating a black/grey border is optiona, just looks better */
  height: 150px; /* specify height and width - make into a cube or you can choose a dynamic height */
  width: 150px;
  overflow: hidden; /* the photo is inside this container - hide all parts of the image outside of the caontainer - more easily identified by the grey box I made */
  margin-bottom: 3px;/* if you just use margin, the size will duble, so choose add margins to 50% of the perimeter */
  margin-right: 5px;

}
.brent-image-style {
  position: relative; /* Images are positioned with respect to .brent-image-container */
  width: 150px; /* if you take this approach, you need to match the shorter dimension to the parent container .brent-image-container */
  top: -30%; /* need to move the image up 20-40% to center image within square - top% is x% from the top of the parent container */
}

/* known issue: I am only using photos where the hight is greater than width - how would you solve this problem? */
/* second: try decreasing the browser width - do you see how this method is responsive to browser size? It would work on your phone */
/* questions? */
